<!--
  Copyright 2016 The Cartographer Authors
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>

<include file="$(find ouster_driver)/os1-1.launch" />
<include file="$(find ouster_driver)/os1-2.launch" />

<include file="$(find microstrain_driver)/launch/3dm_gx5_15.launch" />
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />

  <!-- Run a passthrough filter to clean NaNs -->
  <node pkg="nodelet" type="nodelet" name="passthrough" args="load pcl/PassThrough pcl_manager" output="screen">
    <remap from="~input" to="/os1_node/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 2.0
      filter_limit_negative: False
    </rosparam>
  </node>
  

  <node pkg="nodelet" type="nodelet" name="pcl_manager_2" args="manager" output="screen" />

  <!-- Run a passthrough filter to clean NaNs -->
  <node pkg="nodelet" type="nodelet" name="passthrough_2" args="load pcl/PassThrough pcl_manager_2" output="screen">
    <remap from="~input" to="/os1_node_2/points" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.01
      filter_limit_max: 2.0
      filter_limit_negative: False
    </rosparam>
  </node>

  <param name="robot_description"
    textfile="$(find ouster_backpack_bringup)/urdf/2_ouster_backpack.urdf" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find ouster_backpack_bringup)/configuration_files
          -configuration_basename 2_ouster_3d.lua"
      output="screen">
    <remap from="/odom" to="/transformed_odom"/> 
    <remap from="/points2_1" to="/os1_node/points"/>
    <remap from="/points2_2" to="/os1_node_2/points"/>
    <remap from="/imu" to="/imu_raw"/>
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.2" />

  <node pkg="octomap_server" name="husky_odom_publisher" type="husky_odom_pub" output="screen"/>

</launch>
