<?xml version="1.0" ?>

<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<!-- smallest leaflet size [m] -->
    <param name="resolution" value="0.10"/>
		 <!-- publish free space (octomap_point_cloud_free) -->
		<param name="publish_free_space" value="true"/>

		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="world" />

		<!-- turn on/off latching of publishers (new subscribers will get last message) -->
		<param name="latch" type="bool" value="0" />

		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5.0" />

	</node>
	<node pkg="topic_tools" type="relay" name="cloud_h_relay" args="/HD2/os1_cloud_node_h/points /cloud_in"/>
  <node pkg="topic_tools" type="relay" name="cloud_v_relay" args="/HD2/os1_cloud_node_v/points /cloud_in"/>-->
</launch>
