<?xml version="1.0" ?>
<!--
  Copyright 2016 The Cartographer Authors
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
       http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <include file="$(find ouster_ros)/os1-1.launch" />
  <include file="$(find ouster_ros)/os1-2.launch" />
	<!--<include file="$(find ouster_driver)/launch/os1-1.launch" />-->
	<!--<include file="$(find ouster_driver)/launch/os1-2.launch" />-->
	<include file="$(find microstrain_driver)/launch/3dm_gx5_15.launch" />

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="1" />
    <arg name="pkg" value="ouster_backpack_bringup" />
    <arg name="file" value="lidar0.launch" />
  </include>

  <include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
    <arg name="time" value="5" />
    <arg name="pkg" value="ouster_backpack_bringup" />
    <arg name="file" value="lidar1.launch" />
  </include>


	<param name="robot_description"
		textfile="$(find ouster_backpack_bringup)/urdf/2_ouster_backpack.urdf" />
  
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
